html, body {
  background: #123456;
  margin: 0;
  padding: 0;
}
.closeButton {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 20;
}
.container {
  position: absolute;
  top:0px;
  left:0px;
  z-index: 10;
}
